.THIS {
}

.THIS #imageCanvas{
    max-width:100%;
    max-height:100%;
}
.THIS #croppedCanvas{
    display:none;
    position:fixed;
    left:-10000px;
    top:-10000px;
    z-index:-1;
}
.THIS dl dt{
    font-weight:bold;
}
.THIS dl dd:after{
    content:"%";
}
.THIS .einsteinButton{
    transition:all 0.2s ease;
    border-radius:5px;
    background-color:white;
    color:#0071be;
    border:2px solid rgba(91,26,133,1);
    width:100%;
    text-align:center;
}
.THIS .einsteinButton:active,
.THIS .einsteinButton:focus{
    outline:0;
}
.THIS .einsteinButton:disabled{
    background-color:grey;
}
